---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`${SITE_TITLE} | About`} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section class="page-intro">
				<p class="tagline">About</p>
				<h1>Hi 👋</h1>
				<p>
					I'm George, a former nuclear submarine officer with a focus on AI and proclivity toward building. Outside of work and school, I spend my time cycling, skiing, mixing (drinking) craft cocktails, reading sci-fi and fantasy classics, and doing whatever it takes to keep my puppy happy.
				</p>
			</section>
		</main>
		<Footer />
	</body>
</html>
