---
const today = new Date();
---

<footer class="footer">
	<div>&copy; {today.getFullYear()} George Davis.</div>
	<div>
		<a href="/rss.xml">RSS</a>
		<a href="/about">About</a>
		<a class="footer-icon" href="https://github.com/davisgcii" aria-label="GitHub">
			<svg viewBox="0 0 24 24" width="16" height="16" role="img" aria-hidden="true">
				<path
					fill="currentColor"
					d="M12 2C6.48 2 2 6.58 2 12.24c0 4.52 2.87 8.36 6.84 9.72.5.1.68-.22.68-.48 0-.24-.01-.86-.01-1.69-2.78.62-3.37-1.36-3.37-1.36-.45-1.18-1.11-1.49-1.11-1.49-.9-.63.07-.62.07-.62 1 .07 1.53 1.06 1.53 1.06.89 1.58 2.34 1.12 2.91.85.09-.66.35-1.12.63-1.38-2.22-.26-4.56-1.14-4.56-5.08 0-1.12.39-2.04 1.03-2.76-.1-.26-.45-1.3.1-2.71 0 0 .84-.28 2.75 1.05a9.24 9.24 0 0 1 5 0c1.9-1.33 2.74-1.05 2.74-1.05.55 1.41.2 2.45.1 2.71.64.72 1.03 1.64 1.03 2.76 0 3.95-2.34 4.81-4.57 5.06.36.32.68.95.68 1.92 0 1.38-.01 2.5-.01 2.84 0 .26.18.59.69.48A10.13 10.13 0 0 0 22 12.24C22 6.58 17.52 2 12 2Z"
				/>
			</svg>
		</a>
		<a class="footer-icon" href="https://linkedin.com/in/davisgcii" aria-label="LinkedIn">
			<svg viewBox="0 0 24 24" width="16" height="16" role="img" aria-hidden="true">
				<path
					fill="currentColor"
					d="M4.98 3.5C4.98 4.88 3.86 6 2.5 6S0 4.88 0 3.5 1.12 1 2.5 1 4.98 2.12 4.98 3.5ZM.5 8.5h4V24h-4V8.5Zm7 0h3.8v2.12h.05c.53-1 1.83-2.12 3.77-2.12 4.03 0 4.78 2.7 4.78 6.2V24h-4v-7.83c0-1.87-.03-4.27-2.6-4.27-2.6 0-3 2.04-3 4.14V24h-4V8.5Z"
				/>
			</svg>
		</a>
		<a class="footer-icon" href="https://x.com/davisgcii" aria-label="X">
			<svg viewBox="0 0 24 24" width="16" height="16" role="img" aria-hidden="true">
				<path
					fill="currentColor"
					d="M18.9 2h3.7l-8.1 9.3L24 22h-7.2l-5.6-6.9L4.5 22H.8l8.7-10L0 2h7.4l5.1 6.3L18.9 2Zm-1.3 18h2.1L6.5 4H4.2l13.4 16Z"
				/>
			</svg>
		</a>
	</div>
</footer>
